// // 颜色
// $accentColor = #3eaf7c//默认主题颜色
// $textColor = #2c3e50//默认字体颜色
// $borderColor = #eaecef//默认边框颜色
// $codeBgColor = #282c34//默认背景颜色
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px

// // 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px
 
//示例修改相关样式f12找到需要修改的地方找到对应class类拿过来直接用就行了
// .theme-reco-content > pre{
//     color: white;
// }