.box{
    position: relative;
}
.a{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.b{
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    background-color: greenyellow;
}